{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css2?family=Sarabun:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="{% static 'core/css/style.css' %}">
	{% block css_blocl %} {% endblock %}
</head>
<body>
	<div class="container">
		<nav class="navv">
		<div class="logo">
			<p>danhuynh</p>
		</div>
		<div class="my-nav">
			<a class="navb-link active na1" href="{% url 'core:home' %}">Home</a>
			<a class="navb-link na2" href="{% url 'about:aboutme' %}">About me</a>
			<a class="navb-link na3" href="{% url 'products:products' %}">Products</a>
			<a class="navb-link na4" href="{% url 'video:video' %}">Video</a>
			<a class="navb-link na5" href="#">Contact</a>
		</div>
	</nav>
	</div>
	{% block content %}
	{% endblock %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<!-- <script type="text/javascript" src="./index.js"></script> -->
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
    	AOS.init({
    		duration: 1000
    	});
    </script>
</body>
</html>