{% extends 'core/base.html' %}
{% load static %}

{% block css_blocl %} 
<style type="text/css">
	body{
		background: url('static/core/images/photo2.jpg') no-repeat center;
		background-position: top;
		background-size: 100%;
		background-position: right -120px;
	}

	body:after{
		position: absolute;
		content: " ";
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
	    background: rgb(0,0,0,0.5);
	}

	.my-nav a{
		color: white
	}
</style>
{% endblock %}

{% block content %}
	<section class="section section1">
		<div class=" container banner">
			<div class="left-right-banner">
				<div class="left-content-banner">
					<h2>This is my site which will show you something greate</h2>
					<p>This is a smaller line for comments, you might not care</p>
					<div class="">
						<button  class="see-more" type="button">See more </button>
					</div>
				</div>
				<div class="right-content-banner">
					<!-- <img width="100%" src="{% static 'core/images/bannerimg.svg' %}"> -->
				</div>
			</div>
		</div>
	</section>
	<section class="section section2">
		<div class="container content1">
			<div class="three">
				<div class="three-title">
					<h2>Our products</h2>
				</div>
				<div class="row three-col">
					<div class="col-md-3">
						<div class="cardd cardd1" data-aos="fade-up" data-aos-offset="200"data-aos-delay="400">
							<img src="{% static 'core/images/alo.jpg' %}">
							<div class="cardd-content">
								<h2>My photos</h2>
								<p>this is the description of this item</p>
								<a href="{% url 'products:products' %}"><button class="readnow" type="button">read it now</button></a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="cardd cardd2" data-aos="fade-up" data-aos-offset="200" data-aos-delay="200">
							<img src="{% static 'core/images/video.jpg' %}">
							<div class="cardd-content">
								<h2>Video</h2>
								<p>this is the description of this item</p>
								<a href="{% url 'video:video' %}"><button class="readnow" type="button">read it now</button></a>
							</div>
						</div>
					</div>
					<div class="col-md-3">
						<div class="cardd cardd3" data-aos="fade-up" data-aos-offset="200">
							<img src="{% static 'core/images/IMG_6648.jpg' %}">
							<div class="cardd-content">
								<h2>Black and White</h2>
								<p>this is the description of this item</p>
								<a href=""><button class="readnow" type="button">read it now</button></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="section section3">
		<div class="container">
			<div class="aboutus">
				<div class="img-left">
					<img src="{% static 'about/images/Capture.png' %}" alt="">
					<span></span>
				</div>
				<div class="textright">
					<h5 data-aos="fade-left" data-aos-offset="50">See more thing about me</h5>
					<a href="{% url 'about:aboutme' %}"><button data-aos="fade-left" data-aos-offset="50" data-aos-delay="200" type="button">See more <img class="right-arrow" src="{% static 'core/images/right-arrow.svg' %}" alt=""></button></a>
				</div>
			</div>
		</div>
	</section>
	<script type="text/javascript" src="./index.js"></script>
	<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
	<script>
    	AOS.init();
    </script>
{% endblock %}