body{
	font-family: 'Sarabun', sans-serif;
}

button:focus{
	outline: none;
}

.navv{
	display: flex;
	margin: 2rem 2rem 0rem 2rem;
}

.navb-link:active{
	background: #5d43c1;
	color: white;
	border-radius: 5px;
}

.logo{
	color: black;
}

.title{
	color: #1ca0a4;
}

.my-nav{
	text-align: right;
	width: 100%;
}

.my-nav a{
	margin: 0px 20px;
	padding: 10px;
	color: black
}

.my-nav a:hover{
	background: #212121;
	color: white;
	border-radius: 5px;
}

.right-content-banner{
	width: 130%;
	margin-top: 30px;
}

.right-content-banner img{
	opacity: 0%;
	position: relative;
	top: 40px;
	animation: fadeup 1.5s;
	animation-fill-mode: forwards;
}

.left-content-banner{
	width: 100%;
	padding: 70px 50px;
}

.left-content-banner h2{
	font-size: 3rem;
	color: white;
	opacity: 0%;
	position: relative;
	top: 40px;
	animation: fadeup 1.5s;
	animation-fill-mode: forwards; 
	animation-delay: 0.1s;
}

.left-content-banner p{
	font-size: 1.7rem;
	color: #131313;
	opacity: 0%;
	position: relative;
	top: 40px;
	animation: fadeup 1.5s;
	animation-fill-mode: forwards;
	animation-delay: 0.3s;
}

.left-right-banner{
	display: flex;
	margin-top: 50px
}

.see-more{
	width: 200px;
	height: 50px;
	outline: none;
	border: 2px solid white;
	background: none;
	color: white;
	transition: all 0.5s;
	opacity: 0%;
	top: 40px;
	animation: fadeup 1.5s;
	animation-fill-mode: forwards; 
	animation-delay: 0.5s;
	position: relative;
}

.see-more:hover{
	background: black;
	color: white;
	border: none;
	transition: all 0.5s;
	box-shadow: -3px 2px 10px 0px #000
}

@keyframes fadeup {
	from{
		opacity: 0%;
		top: 40px;
	}
	to{
		opacity: 100%;
		top: 0px;
	}
}

.three-col{
	justify-content: center;
	margin-top: 50px;
}

.col-md-3{
	max-width: 35%;
}

.cardd{
	box-shadow: -5px 4px 16px -3px black;
	height: 440px;
	border-radius: 11px;
	padding: 0px;
	margin: 0px 10px;
	width: 290px;
	background: white;
	position: relative;
}

.cardd:after{
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
    z-index: 0;
    background: linear-gradient(to top, #000000d9, transparent);
}

.cardd:hover .cardd-content{
	bottom: 55px;
}

.cardd img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.cardd-content{
	margin-top: 20px;
	padding: 0px 20px;
	position: absolute;
	bottom: 40px;
	z-index: 1;
	color: white;
	transition: all 0.5s;
}

.readnow{
	height: 50px;
    width: 140px;
    border: none;
    background: #ffffff;
    color: black;
    font-weight: 600;
    border-radius: 25px;
}

.readnow:hover{
	background: #000000;
	color: white;
}

.three-title{
	margin-top: 50px;
	text-align: center;
}

.three-title h2{
	font-size: 2.5rem;
	color: #6b6b6b
}

.content2{
	height: 500px
}

.section2{
	padding: 10px 0px 100px 0px;
    background: #3c3c3c;
}

.section3{
	background: #212121;
    padding: 100px;
}

.aboutus{
	border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    padding: 3rem;
    box-shadow: -5px 4px 16px -3px black;
    width: 60%;
    background: url('../../about/images/backavt.jpg') no-repeat;
    background-size: 100%;
    background-position-y: -130px;
}

.img-left img{
	float: right;
    width: 90%;
    border-radius: 100px;
}

.img-left{
	margin-right: 2rem;
    padding-left: 5rem;
    width: 50%;
    position: relative;
}

/*.img-left span{
	position: absolute;
	background: #fff;
	width: 155px;
    height: 100%;
    left: 97px;
    animation: smaller 1.3s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s
}*/

@keyframes smaller {
	from{
		width: 155px;
	}
	to{
		width: 0px;
	}
}

.textright{
	width: 60%;
}

.textright h5{
	color: white;
}

.textright button{
	height: 50px;
    width: 170px;
    border: none;
    background: #e05353;
    color: white;
    border-radius: 25px;
    transition: all 0.5s !important;
    position: relative;
}

.textright button:hover{
	background: #f95e5e;
	width: 200px;
	padding-right: 25px;
}

.textright button:hover .right-arrow{
	display: initial;
	opacity: 100%;
	right: 67px;
}

.right-arrow{
	width: 10px;
	opacity: 0%;
	position: absolute;
	top: 22px;
	right: 30px;
}