{% extends 'core/base.html' %}
{% load static %}
{% block css_blocl %} 
<link rel="stylesheet" href="{% static 'video/index.css' %}">
{% endblock %}

{% block content %}
<div class="video-all container">
	<div class="title-video">
		<h2 class="titlevideo">Video</h2>
		<p>All my video about my friend or something greate</p>
	</div>
	<div class="list-video">
		{% if item_video %}
		{% for item in item_video %}
		<div class="card-video" data-aos="fade-right">
			<img src="{{ MEDIA_URL }}{{item.images}}">
			<div class="descrip">
				<a href=""><h5>{{ item.title }}</h5></a>
				<p>{{ item.description }}</p>
				<button type="button" data-toggle="modal" data-target="#myModal" class="watchnow">Watch now</button>
			</div>
		</div>

		<!-- Modal -->
		  <div class="modal fade" id="myModal" role="dialog">
		    <div class="modal-dialog">
		    
		      <!-- Modal content-->
		      <div class="modal-content">
		        <div class="modal-header">
		          <h4 class="modal-title">Video</h4>
		          <button type="button" class="close" data-dismiss="modal">&times;</button>
		        </div>
		        <div class="modal-body">
		          <video width="100%" controls>
		          	<source src="{{ MEDIA_URL }}{{ item.video }}" type="video/mp4">
		          </video>
		        </div>
		        <div class="modal-footer">
		          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        </div>
		      </div>
		      
		    </div>
		  </div>
		{% endfor %}
		{% else %}
			<div class="novideo">
				<h1 align="center">No video here, please come back again</h1>
				<img align="center" width="100%" src="{% static 'video/images/Comingsoon.svg' %}" alt="">
			</div>
		{% endif %}
	</div>
</div>
{% endblock %}